.imgWrapper {
  width: 850px;
  height: 600px;
  position: relative;
  margin: 0 auto;
}
.img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: center;
}
.btnPrev,
.btnNext {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: lightblue;
  border: none;
  position: absolute;
}
.btnPrev {
  left: 2%;
  top: 50%;
}
.btnNext {
  right: 2%;
  top: 50%;
}
.btnPlay,
.btnStop {
  width: 50px;
  height: 50px;
  position: absolute;
  border: none;
  border-radius: 50%;
}
.btnPlay {
  left: 44%;
  bottom: 0%;
}
.btnStop {
  right: 44%;
  bottom: 0%;
}

.imgPlay,
.imgStop {
  width: inherit;
  height: inherit;
}
